USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 4/6/2017 8:28:58 AM ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 4/6/2017 8:28:58 AM ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 4/6/2017 8:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYEE_EGN] [varchar](10) NOT NULL,
	[EMPLOYEE_NAME] [varchar](50) NOT NULL,
	[EMPLOYEE_SURNAME] [varchar](50) NOT NULL,
	[EMPLOYEE_LASTNAME] [varchar](50) NOT NULL,
	[EMPLOYEE_POSITION] [varchar](50) NULL,
	[EMPLOYEE_HIREDATE] [date] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 4/6/2017 8:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJECT_ID] [numeric](18, 0) NOT NULL,
	[PROJECT_NAME] [varchar](50) NOT NULL,
	[PROJECT_BEGIN] [date] NOT NULL,
	[PROJECT_END] [date] NOT NULL,
	[PROJECT_DESCRIPTION] [varchar](400) NULL,
	[PROJECT_STATUS] [char](1) NOT NULL,
	[PROJECT_MAXHOURS] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT_HOURS]    Script Date: 4/6/2017 8:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT_HOURS](
	[PROJECT_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[PROJECT_TASKDATE] [date] NOT NULL,
	[PROJECT_MONTH_ID] [numeric](18, 0) NULL,
	[PROJECT_TASK] [varchar](50) NOT NULL,
	[PROJECT_HOURS] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PROJECT_HOURS] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[EMPLOYEE_ID] ASC,
	[PROJECT_TASKDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT_MONTHS]    Script Date: 4/6/2017 8:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT_MONTHS](
	[PROJECT_MONTH_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [numeric](18, 0) NOT NULL,
	[PROJECT_YEAR] [numeric](18, 0) NOT NULL,
	[PROJECT_MONTH] [numeric](18, 0) NOT NULL,
	[PROJECT_MONTH_STATUS] [char](1) NOT NULL,
 CONSTRAINT [PK_PROJECT_MONTHS] PRIMARY KEY CLUSTERED 
(
	[PROJECT_MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/6/2017 8:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](150) NULL,
	[Password] [nvarchar](150) NULL,
	[ConfirmPassword] [nvarchar](150) NULL,
	[Name] [nvarchar](150) NULL,
	[SurName] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[TypeUserID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [EMPLOYEE_EGN], [EMPLOYEE_NAME], [EMPLOYEE_SURNAME], [EMPLOYEE_LASTNAME], [EMPLOYEE_POSITION], [EMPLOYEE_HIREDATE]) VALUES (CAST(1 AS Numeric(18, 0)), N'9408263847', N'FIlip', N'pesho', N'asd', N'CEO', CAST(N'1996-02-08' AS Date))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [EMPLOYEE_EGN], [EMPLOYEE_NAME], [EMPLOYEE_SURNAME], [EMPLOYEE_LASTNAME], [EMPLOYEE_POSITION], [EMPLOYEE_HIREDATE]) VALUES (CAST(2 AS Numeric(18, 0)), N'1231231233', N'asdasd', N'asd', N'qw', N'asd', CAST(N'1182-12-02' AS Date))
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_EMPLOYEE_UQ]    Script Date: 4/6/2017 8:28:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_EMPLOYEE_UQ] ON [dbo].[EMPLOYEES]
(
	[EMPLOYEE_EGN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_PROJECT_UQ]    Script Date: 4/6/2017 8:28:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_PROJECT_UQ] ON [dbo].[PROJECT]
(
	[PROJECT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PROJECT_MONTHS_UQ]    Script Date: 4/6/2017 8:28:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_PROJECT_MONTHS_UQ] ON [dbo].[PROJECT_MONTHS]
(
	[PROJECT_ID] ASC,
	[PROJECT_YEAR] ASC,
	[PROJECT_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROJECT_MONTHS] ADD  DEFAULT ('O') FOR [PROJECT_MONTH_STATUS]
GO
ALTER TABLE [dbo].[PROJECT_HOURS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT__REFERENCE_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PROJECT_HOURS] CHECK CONSTRAINT [FK_PROJECT__REFERENCE_EMPLOYEE]
GO
ALTER TABLE [dbo].[PROJECT_HOURS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT_] FOREIGN KEY([PROJECT_MONTH_ID])
REFERENCES [dbo].[PROJECT_MONTHS] ([PROJECT_MONTH_ID])
GO
ALTER TABLE [dbo].[PROJECT_HOURS] CHECK CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT_]
GO
ALTER TABLE [dbo].[PROJECT_HOURS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT1] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECT_HOURS] CHECK CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT1]
GO
ALTER TABLE [dbo].[PROJECT_MONTHS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECT_MONTHS] CHECK CONSTRAINT [FK_PROJECT__REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [CKC_PROJECT_STATUS_PROJECT] CHECK  (([PROJECT_STATUS]='C' OR [PROJECT_STATUS]='O'))
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [CKC_PROJECT_STATUS_PROJECT]
GO
ALTER TABLE [dbo].[PROJECT_MONTHS]  WITH CHECK ADD  CONSTRAINT [CKC_PROJECT_MONTH_STA_PROJECT_] CHECK  (([PROJECT_MONTH_STATUS]='C' OR [PROJECT_MONTH_STATUS]='O'))
GO
ALTER TABLE [dbo].[PROJECT_MONTHS] CHECK CONSTRAINT [CKC_PROJECT_MONTH_STA_PROJECT_]
GO
